# APP
APP_HOST='http://localhost'
APP_PORT=3000

# DB
MONGO_URI='mongodb://localhost:27017/nestx-auth-app'

# REDIS
REDIS_URI='redis://127.0.0.1:6379/'

# JWT
JWT_TOKEN_SECRET='secret'
ACCESS_TOKEN_TTL= 900 #TTL-in-seconds
REFRESH_TOKEN_TTL= 30 #TTL-in-days

# AUTH
GOOGLE_CLIENT_ID='yourGoogleClientID'
GOOGLE_SECRET='yourGoogleClientSecret'
GOOGLE_CALLBACK_URL='http://localhost:3000/auth/google/redirect'
GOOGLE_LINK_CALLBACK_URL='http://localhost:3000/auth/connect/google/redirect'

FACEBOOK_CLIENT_ID='yourFacebookClientID'
FACEBOOK_CLIENT_SECRET='yourFacebookSecret'
FACEBOOK_CALLBACK_URL='http://localhost:3000/auth/facebook/redirect'
FACEBOOK_LINK_CALLBACK_URL='http://localhost:3000/auth/connect/facebook/redirect'


# MAIL
MAIL_HOST='your-host'
MAIL_PORT= your-port-in-Number
MAIL_AUTH_USER='yourEmailAddress'
MAIL_AUTH_PASS= 'yourPassword'
